* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, li {
  list-style: none;
}

/*
* header와 섹션 처음 제목부분
*/

header {
  border-bottom: 1px solid rgb(207, 207, 207);
  width: 95%;
  min-width: 950px;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  margin: 0 auto;
}

.logo {
  float: left;
  position: relative;
}

.logo span {
  font-size: 16px;
  position: absolute;
  top: 22px;
}

.logo img {
  height: 50px;
  margin-top: 10px;
}

.menu {
  display: flex;
}

.menu li {
  margin-left: 20px;
  font-size: 16px;
}

.menu li:first-child {
  margin-left: 0;
}


/* container */

#idx_top {
  width: 100%;
  padding: 50px 0;
  background-color: #ddd;
  background-image: url("/backimg.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
}

#idx_top strong,
#idx_top p {
  color: #fff;
}

#idx_top strong {
  font-size: 40px;
  letter-spacing: -1px;
}

#idx_top p {
  margin-top: 20px;
  font-size: 20px;
}

/* 
* footer
*/

footer {
  display: block;
  background-color: #363535;
}

footer .inner {
  display : flex;
  align-items: center;
  padding: 30px;
}

footer .logo_img img {
  height: 80px;
}

footer .inner > div:first-child {
  flex: 3;
  text-align: center;
  color: #fff;
}

footer .inner > div:last-child {
  flex: 9;
  color: #fff;
  font-size: 15px;
}